<span>\p(post.title)</span>
\id(post)
\class(active: true, inactive: false)
\aria(describedby: :post_1)
\data(controller: :list, action: :order)

\t.message
\t fully.qualified.message
\t Some bare words
